       /* form  */
       input {
        margin-left: 10%;
           padding: .3%;
        }
           
         .move {
       margin-left: 25%;
       font-size: large;
       font-weight: bold;
      color: #ffffff; 
      }

      /* jumbotron  */
  .jumbotronb {
    background-image: url("https://images.unsplash.com/photo-1566041510639-8d95a2490bfb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1150&q=60");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   } 